input {
	
  file {
    path => "/home/logstash/csv/20220101_Despesas_ItemEmpenhoHistorico.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  csv {
		separator => ";"
    columns => ["Id Empenho", "Sequencial", "Tipo Operação", "Data Operação", "Quantidade Item", "Valor Unitário Item", "Valor Total Item"]
  }
}

output {
   elasticsearch {
			hosts => ["elasticsearch:9200"]
			user => "elastic"
   		password => "changeme"
     	index => "despesas-item-empenho-historico"
  }

	stdout {}
}