input {
	
  file {
    path => "/home/logstash/csv/202204_NFe_NotaFiscalItem.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  csv {
		separator => ";"
    columns => ["CHAVE DE ACESSO", "MODELO", "SÉRIE", "NÚMERO", "NATUREZA DA OPERAÇÃO", "DATA EMISSÃO", "CPF/CNPJ Emitente", 
    "RAZÃO SOCIAL EMITENTE", "INSCRIÇÃO ESTADUAL EMITENTE", "UF EMITENTE", "MUNICÍPIO EMITENTE", "CNPJ DESTINATÁRIO", 
    "NOME DESTINATÁRIO", "UF DESTINATÁRIO", "INDICADOR IE DESTINATÁRIO", "DESTINO DA OPERAÇÃO", "CONSUMIDOR FINAL", 
    "PRESENÇA DO COMPRADOR", "NÚMERO PRODUTO", "DESCRIÇÃO DO PRODUTO/SERVIÇO", "CÓDIGO NCM/SH", "NCM/SH (TIPO DE PRODUTO)"
    "CFOP", "QUANTIDADE", "VALOR UNITÁRIO", "VALOR TOTAL"]
  }
}

output {
   elasticsearch {
			hosts => ["elasticsearch:9200"]
			user => "elastic"
   		password => "changeme"
     	index => "2022-04-nfe-nota-fiscal-item"
  }

	stdout {}
}